fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
python-dotenv==1.0.1
motor==3.1.1
pymongo==4.3.3
numpy==2.1.2
pandas==2.2.3
scikit-learn==1.5.2
mlxtend==0.23.3
prefixspan==0.5.2
orjson==3.10.7
torch>=2.1.0
torchaudio>=2.1.0
transformers>=4.34.0
scipy>=1.11.3
librosa>=0.10.1
ffmpeg-python>=0.2.0
soundfile>=0.12.1
